<!DOCTYPE html>
<html>
<head>
    <title>MVC Exam</title>
</head>
<body>
    <form action="/formsave" method="POST">
        <label>
            <span>Hashtag 1: </span>
            <input type="text" pattern="^[A-Za-z]{1,}" name="Hashtag1" value="" required="required"/>
        </label>
        <br/>
        <label>
            <span>Hashtag 2: </span>
            <input type="text" pattern="[A-Za-z]{1,}" name="Hashtag2" value="" required="required"/>
        </label>
        <br/>
        <label>
            <span>Hashtag 3: </span>
            <input type="text" pattern="[A-Za-z]{1,}" name="Hashtag3" value="" required="required"/>
        </label>
        <br/>
        <label>
            <span>Hashtag 4: </span>
            <input type="text" pattern="[A-Za-z]{1,}" name="Hashtag4" value="" required="required"/>
        </label>
        <br/>
        <label>
            <span>Hashtag 5: </span>
            <input type="text" pattern="[A-Za-z]{1,}" name="Hashtag5" value="" required="required"/>
        </label>
        <br/>
        <input type="submit" value="submit" />
    </form>
</body>
</html>